.cabecalho{
    background-color: var(--fundo-azul);
    margin: 0;
}
.container{
    display: flex; align-items: center;
}
.container_imgaem{
    width: 45px; height: 45px;
}
.container_titulo, .container_imgaem, .container_frase{
    padding: 0.1em; color: white;
}
.container_titulo, .container_frase{
    display: none;
}
.cx-texto{
    display: flex; justify-content: center;
}
.texto-mobile{
    display: block; font-size: 30px;
}